@model DoradoB2BCoreContext.Models.Audit

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Audit</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TableName" class="control-label"></label>
                <input asp-for="TableName" class="form-control" />
                <span asp-validation-for="TableName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FullTableName" class="control-label"></label>
                <input asp-for="FullTableName" class="form-control" />
                <span asp-validation-for="FullTableName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pk" class="control-label"></label>
                <input asp-for="Pk" class="form-control" />
                <span asp-validation-for="Pk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JsonData" class="control-label"></label>
                <input asp-for="JsonData" class="form-control" />
                <span asp-validation-for="JsonData" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuditDate" class="control-label"></label>
                <input asp-for="AuditDate" class="form-control" />
                <span asp-validation-for="AuditDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuditAction" class="control-label"></label>
                <input asp-for="AuditAction" class="form-control" />
                <span asp-validation-for="AuditAction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuditIp" class="control-label"></label>
                <input asp-for="AuditIp" class="form-control" />
                <span asp-validation-for="AuditIp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
